<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Crop Visualizations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body style="background-color: rgb(207, 228, 190)">


    <nav class="navbar bg-dark">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">México Crop Visualizations</span>
          <a href="/index">
            Regresar
        </a>

        </div>
      </nav>
      <br>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3">
                <form>
                    <select id="region">
                        <option value='republica' selected disabled hidden>Select a state</option>
                        <option value='republica'>República Mexicana</option>
                        <option value='Aguascalientes'>Aguascalientes</option>
                        <option value='Baja California'>Baja California</option>
                        <option value='Baja California Sur'>Baja California Sur</option>
                        <option value='Campeche'>Campeche</option>
                        <option value='Coahuila'>Coahuila</option>
                        <option value='Colima'>Colima</option>
                        <option value='Chiapas'>Chiapas</option>
                        <option value='Chihuahua'>Chihuahua</option>
                        <option value='Ciudad de México / DF'>Ciudad de México / DF</option>
                        <option value='Durango'>Durango</option>
                        <option value='Guanajuato'>Guanajuato</option>
                        <option value='Guerrero'>Guerrero</option>
                        <option value='Hidalgo'>Hidalgo</option>
                        <option value='Jalisco'>Jalisco</option>
                        <option value='México'>México</option>
                        <option value='Michoacán'>Michoacán</option>
                        <option value='Morelos'>Morelos</option>
                        <option value='Nayarit'>Nayarit</option>
                        <option value='Nuevo León'>Nuevo León</option>
                        <option value='Oaxaca'>Oaxaca</option>
                        <option value='Puebla'>Puebla</option>
                        <option value='Querétaro'>Querétaro</option>
                        <option value='Quintana Roo'>Quintana Roo</option>
                        <option value='San Luis Potosí'>San Luis Potosí</option>
                        <option value='Sinaloa'>Sinaloa</option>
                        <option value='Sonora'>Sonora</option>
                        <option value='Tabasco'>Tabasco</option>
                        <option value='Tamaulipas'>Tamaulipas</option>
                        <option value='Tlaxcala'>Tlaxcala</option>
                        <option value='Veracruz'>Veracruz</option>
                        <option value='Yucatán'>Yucatán</option>
                        <option value='Zacatecas'>Zacatecas</option>
                    </select>
                </form>
            </div>

            <div class="col-sm-3">
                <form>
                    <select id="crop">
                        <option value='all' selected disabled hidden>Select a crop</option>
                        <option value='all'>All</option>
                        <option value='Aceituna'>Aceituna</option>
                        <option value='Acelga'>Acelga</option>
                        <option value='Achiote'>Achiote</option>
                        <option value='Agapando'>Agapando</option>
                        <option value='Agave'>Agave</option>
                        <option value='Aguacate'>Aguacate</option>
                        <option value='Ajo'>Ajo</option>
                        <option value='Ajonjolí'>Ajonjolí</option>
                        <option value='Albahaca'>Albahaca</option>
                        <option value='Albricia'>Albricia</option>
                        <option value='Alcachofa'>Alcachofa</option>
                        <option value='Alcatraz'>Alcatraz</option>
                        <option value='Alfalfa achicalada'>Alfalfa achicalada</option>
                        <option value='Alfalfa verde'>Alfalfa verde</option>
                        <option value='Algarrobo'>Algarrobo</option>
                        <option value='Algodón hueso'>Algodón hueso</option>
                        <option value='Alhelí'>Alhelí</option>
                        <option value='Alhelí'>Alhelí</option>
                        <option value='Alhelí'>Alhelí</option>
                        <option value='Alpiste'>Alpiste</option>
                        <option value='Alpiste ornamental'>Alpiste ornamental</option>
                        <option value='Alstroemeria'>Alstroemeria</option>
                        <option value='Amaranto'>Amaranto</option>
                        <option value='Anís'>Anís</option>
                        <option value='Anturios'>Anturios</option>
                        <option value='Apio'>Apio</option>
                        <option value='Arándano'>Arándano</option>
                        <option value='Árbol de navidad'>Árbol de navidad</option>
                        <option value='Aretillo'>Aretillo</option>
                        <option value='Arrayán'>Arrayán</option>
                        <option value='Arroz palay'>Arroz palay</option>
                        <option value='Arvejón'>Arvejón</option>
                        <option value='Aster'>Aster</option>
                        <option value='Ave del paraíso'>Ave del paraíso</option>
                        <option value='Avena forrajera en verde'>Avena forrajera en verde</option>
                        <option value='Avena grano'>Avena grano</option>
                        <option value='Baby back choi'>Baby back choi</option>
                        <option value='Bambú'>Bambú</option>
                        <option value='Bangaña'>Bangaña</option>
                        <option value='Begonia'>Begonia</option>
                        <option value='Belén'>Belén</option>
                        <option value='Berenjena'>Berenjena</option>
                        <option value='Betabel'>Betabel</option>
                        <option value='Brócoli'>Brócoli</option>
                        <option value='Cacahuate'>Cacahuate</option>
                        <option value='Cacao'>Cacao</option>
                        <option value='Café cereza'>Café cereza</option>
                        <option value='Caimito'>Caimito</option>
                        <option value='Calabacita'>Calabacita</option>
                        <option value='Calabaza'>Calabaza</option>
                        <option value='Calabaza semilla o chihua'>Calabaza semilla o chihua</option>
                        <option value='Calancoe'>Calancoe</option>
                        <option value='Camote'>Camote</option>
                        <option value='Canola'>Canola</option>
                        <option value='Caña de azúcar'>Caña de azúcar</option>
                        <option value='Caña de azúcar forrajera'>Caña de azúcar forrajera</option>
                        <option value='Caña de azúcar fruta'>Caña de azúcar fruta</option>
                        <option value='Caña de azúcar piloncillo'>Caña de azúcar piloncillo</option>
                        <option value='Capulín'>Capulín</option>
                        <option value='Carambolo'>Carambolo</option>
                        <option value='Cártamo'>Cártamo</option>
                        <option value='Cártamo forrajero en verde'>Cártamo forrajero en verde</option>
                        <option value='Cebada forrajera en verde'>Cebada forrajera en verde</option>
                        <option value='Cebada grano'>Cebada grano</option>
                        <option value='Cebolla'>Cebolla</option>
                        <option value='Centeno grano'>Centeno grano</option>
                        <option value='Cereza'>Cereza</option>
                        <option value='Chabacano'>Chabacano</option>
                        <option value='Chay'>Chay</option>
                        <option value='Chayote'>Chayote</option>
                        <option value='Chía'>Chía</option>
                        <option value='Chícharo'>Chícharo</option>
                        <option value='Chilacayote'>Chilacayote</option>
                        <option value='Chile seco'>Chile seco</option>
                        <option value='Chile verde'>Chile verde</option>
                        <option value='Chirimoya'>Chirimoya</option>
                        <option value='Chives'>Chives</option>
                        <option value='Cilantro'>Cilantro</option>
                        <option value='Cineraria'>Cineraria</option>
                        <option value='Ciruela'>Ciruela</option>
                        <option value='Clavel'>Clavel</option>
                        <option value='Coco fruta'>Coco fruta</option>
                        <option value='Col (repollo)'>Col (repollo)</option>
                        <option value='Col de bruselas'>Col de bruselas</option>
                        <option value='Coliflor'>Coliflor</option>
                        <option value='Comino'>Comino</option>
                        <option value='Copra'>Copra</option>
                        <option value='Coquia'>Coquia</option>
                        <option value='Crisantemo'>Crisantemo</option>
                        <option value='Crisantemo'>Crisantemo</option>
                        <option value='Cyclamen'>Cyclamen</option>
                        <option value='Dalia'>Dalia</option>
                        <option value='Dátil'>Dátil</option>
                        <option value='Dólar'>Dólar</option>
                        <option value='Durazno'>Durazno</option>
                        <option value='Ebo (janamargo o veza)'>Ebo (janamargo o veza)</option>
                        <option value='Ejote'>Ejote</option>
                        <option value='Elote'>Elote</option>
                        <option value='Eneldo'>Eneldo</option>
                        <option value='Epazote'>Epazote</option>
                        <option value='Espárrago'>Espárrago</option>
                        <option value='Especias y medicinales'>Especias y medicinales</option>
                        <option value='Espinaca'>Espinaca</option>
                        <option value='Estropajo'>Estropajo</option>
                        <option value='Eucalipto'>Eucalipto</option>
                        <option value='Flor hawaiana'>Flor hawaiana</option>
                        <option value='Flor lisianthus'>Flor lisianthus</option>
                        <option value='Flor perrito'>Flor perrito</option>
                        <option value='Frambuesa'>Frambuesa</option>
                        <option value='Fresa'>Fresa</option>
                        <option value='Fresa'>Fresa</option>
                        <option value='Frijol'>Frijol</option>
                        <option value='Frijol forrajero'>Frijol forrajero</option>
                        <option value='Frijol x pelón'>Frijol x pelón</option>
                        <option value='Gai lan (kay laan)'>Gai lan (kay laan)</option>
                        <option value='Garbanzo forrajero'>Garbanzo forrajero</option>
                        <option value='Garbanzo grano'>Garbanzo grano</option>
                        <option value='Garbanzo porquero'>Garbanzo porquero</option>
                        <option value='Geranio'>Geranio</option>
                        <option value='Gerbera'>Gerbera</option>
                        <option value='Girasol'>Girasol</option>
                        <option value='Girasol flor'>Girasol flor</option>
                        <option value='Girasol forrajero'>Girasol forrajero</option>
                        <option value='Gladiola'>Gladiola</option>
                        <option value='Granada'>Granada</option>
                        <option value='Guaje'>Guaje</option>
                        <option value='Guaje (verdura)'>Guaje (verdura)</option>
                        <option value='Guamúchil'>Guamúchil</option>
                        <option value='Guanábana'>Guanábana</option>
                        <option value='Guayaba'>Guayaba</option>
                        <option value='Haba grano'>Haba grano</option>
                        <option value='Haba verde'>Haba verde</option>
                        <option value='Helecho'>Helecho</option>
                        <option value='Henequén'>Henequén</option>
                        <option value='Hierbabuena'>Hierbabuena</option>
                        <option value='Higo'>Higo</option>
                        <option value='Higuerilla'>Higuerilla</option>
                        <option value='Hoja de plátano (belillo)'>Hoja de plátano (belillo)</option>
                        <option value='Hongos, setas y champiñones'>Hongos, setas y champiñones</option>
                        <option value='Hortensia'>Hortensia</option>
                        <option value='Huauzontle'>Huauzontle</option>
                        <option value='Hule hevea'>Hule hevea</option>
                        <option value='Inmortal'>Inmortal</option>
                        <option value='Jaca (jackfruit)'>Jaca (jackfruit)</option>
                        <option value='Jamaica'>Jamaica</option>
                        <option value='Jatropha'>Jatropha</option>
                        <option value='Jenjibre'>Jenjibre</option>
                        <option value='Jícama'>Jícama</option>
                        <option value='Kale'>Kale</option>
                        <option value='Kohlrabi'>Kohlrabi</option>
                        <option value='Lechuga'>Lechuga</option>
                        <option value='Lenteja'>Lenteja</option>
                        <option value='Lilium'>Lilium</option>
                        <option value='Lilium'>Lilium</option>
                        <option value='Lima'>Lima</option>
                        <option value='Limón'>Limón</option>
                        <option value='Limón real'>Limón real</option>
                        <option value='Limonium'>Limonium</option>
                        <option value='Linaza'>Linaza</option>
                        <option value='Litchi'>Litchi</option>
                        <option value='Macadamia'>Macadamia</option>
                        <option value='Maguey'>Maguey</option>
                        <option value='Maguey forrajero'>Maguey forrajero</option>
                        <option value='Maguey mixiotero'>Maguey mixiotero</option>
                        <option value='Maguey pulquero'>Maguey pulquero</option>
                        <option value='Maíz forrajero en verde'>Maíz forrajero en verde</option>
                        <option value='Maíz grano'>Maíz grano</option>
                        <option value='Maíz palomero'>Maíz palomero</option>
                        <option value='Malanga'>Malanga</option>
                        <option value='Mamey'>Mamey</option>
                        <option value='Mandarina'>Mandarina</option>
                        <option value='Mango'>Mango</option>
                        <option value='Mangostán'>Mangostán</option>
                        <option value='Mano de león'>Mano de león</option>
                        <option value='Mano de león'>Mano de león</option>
                        <option value='Manzana'>Manzana</option>
                        <option value='Manzanilla'>Manzanilla</option>
                        <option value='Maracuyá'>Maracuyá</option>
                        <option value='Marañón'>Marañón</option>
                        <option value='Margarita'>Margarita</option>
                        <option value='Mejorana'>Mejorana</option>
                        <option value='Melón'>Melón</option>
                        <option value='Melón amargo'>Melón amargo</option>
                        <option value='Membrillo'>Membrillo</option>
                        <option value='Menta'>Menta</option>
                        <option value='Mijo forrajero verde'>Mijo forrajero verde</option>
                        <option value='Moringa'>Moringa</option>
                        <option value='Nabo'>Nabo</option>
                        <option value='Nabo forrajero'>Nabo forrajero</option>
                        <option value='Nanche'>Nanche</option>
                        <option value='Napa'>Napa</option>
                        <option value='Naranja'>Naranja</option>
                        <option value='Nardo'>Nardo</option>
                        <option value='Níspero'>Níspero</option>
                        <option value='Nochebuena'>Nochebuena</option>
                        <option value='Noni'>Noni</option>
                        <option value='Nopal forrajero'>Nopal forrajero</option>
                        <option value='Nopalitos'>Nopalitos</option>
                        <option value='Nube'>Nube</option>
                        <option value='Nube'>Nube</option>
                        <option value='Nuez'>Nuez</option>
                        <option value='Okra (angú o gombo)'>Okra (angú o gombo)</option>
                        <option value='Orégano'>Orégano</option>
                        <option value='Orquídea'>Orquídea</option>
                        <option value='Pak choi'>Pak choi</option>
                        <option value='Palma africana o de aceite'>Palma africana o de aceite</option>
                        <option value='Palma camedor'>Palma camedor</option>
                        <option value='Palma de ornato'>Palma de ornato</option>
                        <option value='Palma de ornato'>Palma de ornato</option>
                        <option value='Palma taco'>Palma taco</option>
                        <option value='Palo de arco'>Palo de arco</option>
                        <option value='Papa'>Papa</option>
                        <option value='Pápalo'>Pápalo</option>
                        <option value='Papaya'>Papaya</option>
                        <option value='Pasto tapete'>Pasto tapete</option>
                        <option value='Pastos y praderas'>Pastos y praderas</option>
                        <option value='Pensamiento'>Pensamiento</option>
                        <option value='Pepino'>Pepino</option>
                        <option value='Pera'>Pera</option>
                        <option value='Perejil'>Perejil</option>
                        <option value='Perón'>Perón</option>
                        <option value='Persimonio'>Persimonio</option>
                        <option value='Petunia'>Petunia</option>
                        <option value='Pimienta'>Pimienta</option>
                        <option value='Piña'>Piña</option>
                        <option value='Piñón'>Piñón</option>
                        <option value='Pipicha'>Pipicha</option>
                        <option value='Pistache'>Pistache</option>
                        <option value='Pitahaya'>Pitahaya</option>
                        <option value='Pitaya'>Pitaya</option>
                        <option value='Plantas de ornato'>Plantas de ornato</option>
                        <option value='Plantero de tabaco'>Plantero de tabaco</option>
                        <option value='Plátano'>Plátano</option>
                        <option value='Polar'>Polar</option>
                        <option value='Polar'>Polar</option>
                        <option value='Pon-pon'>Pon-pon</option>
                        <option value='Poro (leek)'>Poro (leek)</option>
                        <option value='Quelite'>Quelite</option>
                        <option value='Rábano'>Rábano</option>
                        <option value='Rambután'>Rambután</option>
                        <option value='Rapini'>Rapini</option>
                        <option value='Remolacha forrajera'>Remolacha forrajera</option>
                        <option value='Romerito'>Romerito</option>
                        <option value='Romero'>Romero</option>
                        <option value='Rosa'>Rosa</option>
                        <option value='Rosa'>Rosa</option>
                        <option value='Sábila'>Sábila</option>
                        <option value='Salvia'>Salvia</option>
                        <option value='Sandía'>Sandía</option>
                        <option value='Saramuyo'>Saramuyo</option>
                        <option value='Semilla de apio'>Semilla de apio</option>
                        <option value='Semilla de avena grano'>Semilla de avena grano</option>
                        <option value='Semilla de brócoli'>Semilla de brócoli</option>
                        <option value='Semilla de cacahuate'>Semilla de cacahuate</option>
                        <option value='Semilla de caña de azúcar'>Semilla de caña de azúcar</option>
                        <option value='Semilla de cebada grano'>Semilla de cebada grano</option>
                        <option value='Semilla de cebollín'>Semilla de cebollín</option>
                        <option value='Semilla de cilantro'>Semilla de cilantro</option>
                        <option value='Semilla de flores'>Semilla de flores</option>
                        <option value='Semilla de frijol'>Semilla de frijol</option>
                        <option value='Semilla de garbanzo grano'>Semilla de garbanzo grano</option>
                        <option value='Semilla de garbanzo porquero'>Semilla de garbanzo porquero</option>
                        <option value='Semilla de haba'>Semilla de haba</option>
                        <option value='Semilla de jícama'>Semilla de jícama</option>
                        <option value='Semilla de maíz grano'>Semilla de maíz grano</option>
                        <option value='Semilla de papa'>Semilla de papa</option>
                        <option value='Semilla de pastos y praderas'>Semilla de pastos y praderas</option>
                        <option value='Semilla de sorgo grano'>Semilla de sorgo grano</option>
                        <option value='Semilla de soya'>Semilla de soya</option>
                        <option value='Semilla de trigo grano'>Semilla de trigo grano</option>
                        <option value='Semilla de triticale grano'>Semilla de triticale grano</option>
                        <option value='Shangai-bock-choy'>Shangai-bock-choy</option>
                        <option value='Shop suey'>Shop suey</option>
                        <option value='Solidago'>Solidago</option>
                        <option value='Sorgo escobero'>Sorgo escobero</option>
                        <option value='Sorgo forrajero en verde'>Sorgo forrajero en verde</option>
                        <option value='Sorgo grano'>Sorgo grano</option>
                        <option value='Soya'>Soya</option>
                        <option value='Statice'>Statice</option>
                        <option value='Statice'>Statice</option>
                        <option value='Stevia'>Stevia</option>
                        <option value='Tabaco'>Tabaco</option>
                        <option value='Tamarindo'>Tamarindo</option>
                        <option value='Tangelo'>Tangelo</option>
                        <option value='Tangerina'>Tangerina</option>
                        <option value='Tarragón'>Tarragón</option>
                        <option value='Té limón'>Té limón</option>
                        <option value='Tejocote'>Tejocote</option>
                        <option value='Terciopelo'>Terciopelo</option>
                        <option value='Tomate rojo (jitomate)'>Tomate rojo (jitomate)</option>
                        <option value='Tomate verde'>Tomate verde</option>
                        <option value='Tomillo'>Tomillo</option>
                        <option value='Toronja (pomelo)'>Toronja (pomelo)</option>
                        <option value='Trébol'>Trébol</option>
                        <option value='Trigo forrajero verde'>Trigo forrajero verde</option>
                        <option value='Trigo grano'>Trigo grano</option>
                        <option value='Trigo ornamental'>Trigo ornamental</option>
                        <option value='Triticale forrajero en verde'>Triticale forrajero en verde</option>
                        <option value='Triticale grano'>Triticale grano</option>
                        <option value='Tulipán holandés'>Tulipán holandés</option>
                        <option value='Tuna'>Tuna</option>
                        <option value='Uva'>Uva</option>
                        <option value='Vainilla'>Vainilla</option>
                        <option value='Verdolaga'>Verdolaga</option>
                        <option value='Viveros de durazno'>Viveros de durazno</option>
                        <option value='Viveros de manzana'>Viveros de manzana</option>
                        <option value='Viveros de nuez'>Viveros de nuez</option>
                        <option value='Yuca alimenticia'>Yuca alimenticia</option>
                        <option value='Yu-choy'>Yu-choy</option>
                        <option value='Zanahoria'>Zanahoria</option>
                        <option value='Zapote'>Zapote</option>
                        <option value='Zapote chiclero'>Zapote chiclero</option>
                        <option value='Zapupe'>Zapupe</option>
                        <option value='Zarzamora'>Zarzamora</option>
                        <option value='Zempoalxochitl'>Zempoalxochitl</option>
                        <option value='Zempoalxochitl'>Zempoalxochitl</option>
                        <option value='Zempoalxochitl'>Zempoalxochitl</option>
                        <option value='Zempoalxochitl'>Zempoalxochitl</option>

                    </select>
                </form>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success">Apply filters</button>
            </div>
        </div>
        <hr>

        <div class="container-lg">
            <div class ="row">
                <div class="col-lg-7">
                    <h4 id= "mapTt">México</h4>
                    <div class="mapbox">
                        <div class="row-fluid" id="map" style="height: 850px"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class = 'row'>
                        <h4 id="topProducer"> Top producers of all crops</h4>
                        <div id="plot1" style="height: 380px" ></div>
                    </div>
                    
                    <br>
                    <hr>
                    <div class = 'row'>
                        <h4 id="topCrop"> Top crops in México</h4>
                        <div id="plot2" style="height: 380px"></div>
                    </div>
                </div>
            </div>
        </div>
        

        <br><br>

        

        
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JS -->
   <!-- script type <="text/javascript" src="static/js/just-crime.js"></script> -->
    <script type="text/javascript" src="../static/js/heatmap.js"></script>

    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>







</body>

</html>