<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Producción Agrícola en México 2017</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(207, 228, 190)">

    <div class="container">
        <br><br>
        <div class="row">
            <h1>Producción Agrícola en México 2017</h1>
            <div class="col-sm-8">
                <br>
                <p align="justify">Utilizando datos del Servicio de Información Agroalimentaria y Pesquera (SIAP), organismo 
                    encargado de generar estadística y datos geográficos en materia agroalimentaria, se realizó un mapa interactivo 
                    con datos de la producción agrícola generada a nivel nacional durante 2017.
                </p>

                <h3>Objetivo</h3>
                <p align="justify">El objetivo de este proyecto es el de crear un mapa interactivo con fines educativos sobre la
                    producción agrícola en distintas regiones de México. Con este mapa interactivo, el usuario podrá filtrar por 
                    cultivo para visualizar en qué regiones de México es que se cultiva dicha planta. También se podrá filtrar por 
                    estado de la república para visualizar cuáles son los culivos más producidos en esa región.
                </p>
                <p align="justify">La información presentada en las visualizaciones puede ser utilizada para fines distintos, desde
                    fines educativos hasta fines lucrativos (por ejemplo, empresas transportistas, inversionistas, desarrolladores de
                    invernaderos u otros sistemas agrícolas, entre otros.)
                </p>

                <h3>Instrucciones de uso</h3>
                <p align="justify">La pagina cuenta con dos menús de selección los mediante 
                    los cuales es posible seleccionar cualquier combinación de estado de la 
                    república y tipo de cultivo. Al hacer la selección y darle click al botón 
                    de filtrar, las tres visualizaciones cambiaran de acuerdo a la selección.
                </p>
                <br>

                   <h5> Heatmap:</h5>
                    <p>El heatmap mostrará los municipios donde se cosechan los diferentes cultivos 
                        y la intensidad muestra el valor de producción de los cultivos. Al seleccionar
                        un cultivo en particular, el mapa mostrara solo la información de ese cultivo. 
                        Al seleccionar un estado en particular, el mapa se centrará en ese estado y mostrará 
                        el contorno del estado con los puntos de producción para ese estado solamente. Estando 
                        centrado en el estado se pueden cambiar los tipos de cultivo para visualizar los mismos 
                        dentro del estado. Así mismo se puede cambiar de estado para visualizar el mismo cultivo 
                        en otros estados.
                    </p>
                    <br>
                    <h5>Gráficas de Barras:</h5>
                    <p>La grafica relacionada a los estados, mostrará los estados mas productivos en la republica, 
                        cuando el cultivo sea de todos los cultivos y cuando se seleccione un cultivo en particular 
                        mostrará los estados que tienen la mayor producción de ese cultivo en particular.
                    </p>
                    <br>
                    <p>Por otra parte, la grafica relacionada a cultivos mostrara los 10 cultivos con mayor 
                        producción para la selección de estado.
                    </p>

                <h3>Limitantes</h3>
                <p align="justify">Este proyecto está limitado a filtros por estado y por tipo de cultivo, sin embargo, cuenta con potencial de crecimiento.
                    A futuro, se puede realizar lo siguiente:
                    <ul align="justify">
                        <li>Incluir datos de otros años.</li>
                        <li>
                            Incluir las condiciones climatológicas de la región para determinar qué condiciones son las que benefician a ciertos
                            tipos de cultivos.
                        </li>
                        <li>Determinar la variación que han tenido los cultivos y las condiciones climatológicas de distintas regiones a través de los años.</li>
                        <li>Permitir más filtros (ej: filtro por precio de venta del cultivo, filtro por temporada, filtro por municipios, etc.)</li>
                    </ul>
                </p>

                <h3>Fuentes de datos</h3>
                <p align="justify">Las fuentes de datos utilizadas para este proyeco fueron:</p>
                <ul align="justify">
                    <li>
                        <a
                            href="https://www.datos.gob.mx/busca/dataset/datos-estadisticos-de-la-produccion-agricola-generada-a-nivel-nacional">
                            Datos estadísticos de la producción agrícola generada a nivel nacional
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/eduardoarandah/coordenadas-estados-municipios-localidades-de-mexico-json">
                            Coordenadas, Estados, Municipios y Localidades De Mexico en formato Json
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <br>
                <img src="https://www.gratistodo.com/wp-content/uploads/2017/08/Mapa-Mexico-con-nombres-1.gif"
                alt="Mapa de México" style='width: 100%; object-fit: contain'/>
                <br><br>
                <a href="/visualizations">
                    <button type="button" class="btn btn-success">Ir a visualización</button>
                </a>
            </div>

        </div>



</body>

</html>